body {
    background-color: #E0DBC9;
    height: 100vh;
}

.calculator {
    margin-top: 150px;
    background-color: #CCC8B7;
    width: 500px;
    height: 700px;
    border-radius: 20px;
    padding: 0px;
}

.calc-header {
    background-color: red;
    height: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

